<h1>Add Task</h1>

<%= render partial: "tasks/form", locals: { task: @task, list: @list, commit: "Add Task" } %>

<p>
  <%= link_to "Show", @list %> |
  <%= link_to "Back to Lists", lists_path %>
</p>
