<h1>Add Task</h1>

<%= render partial: "tasks/form", locals: { task: @task, list: @list, commit: "Add Task" } %>

<p>
  <%= link_to "<< Back", @list %> |
  <%= link_to "Go to Tasks", tasks_url %> |
  <%= link_to "Go to Lists", lists_url %>
</p>
