<p id="notice"><%= notice %></p>

<%= render partial: "lists", locals: { list: @list, tasks: @list.tasks } %>

<p>
  <%= link_to "Go to Tasks", tasks_url %> |
  <%= link_to "Go to Lists", lists_url %>
</p>

