<p id="notice"><%= notice %></p>

<table>
  <thead>
    <th><h1>Tasks</h1></th>
    <th>
      <div class="horizontal-menu">
        <%= link_to "New Task", new_task_path %>
      </div>
    </th>
  </thead>
</table>

<%= render partial: "tasks", locals: { tasks: @tasks } %>

<br>

<%= link_to "Back to Lists", lists_url %>

