<p id="notice"><%= notice %></p>

<%= render partial: "tasks_and_subtasks", locals: { task: @task.title } %>

<p>
  <%= link_to "Go to Tasks", tasks_url %> |
  <%= link_to "Go to Lists", lists_url %>
</p>

