<h1>New Subtask</h1>

<%= render partial: "subtasks/form", locals: { subtask: @subtask, task: @subtask.task } %>

<p>
  <%= link_to "<< Back", :back %> |
  <%= link_to "Go to Tasks", tasks_url %> |
  <%= link_to "Go to Lists", lists_url %>
</p>

